<br>
<h1 class="center red big">FAQ</h1>
<br>
<br>
<h4 class ="left">GENERAL</h4>
<br>
<br>
<hr>
<br>
<br>


<% @faqs.each do |faq| %>
  <div class="well">
    <h4><em><strong><%= faq.title %></strong></em></h4>
    <br>
    <%= raw faq.body %>
    <br>
    <br>
  </div>
<% end %>


<br>

