<p id="notice"><%= notice %></p>

<div class="well">
<p>
  <strong>Title:</strong>
  <%= @faq.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw @faq.body %>
</p>

<br>
</div>
<%= link_to 'Back', faqs_path %>
