.big {
	font-size: 400%;
}

.center {
	margin-left: 50%
}

#center_search {
	margin-left: 10%;
}

.left {
	text-align: left
}

.red {
	color: #b91319
}

div.well {
   background-color: rgba(245, 245, 245, 0.08);
   border: none;
}