<!DOCTYPE html>
<html>
<head>
  <title>Switchboard FAQs</title>
  <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link href='assets/stylesheets/styles.css.scss' rel="stylesheet"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = 'container'>
		<div class="row">
  			<div class="col-md-10 col-md-offset-1">
			<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
